[Unit]
Description="Polkadot systemd service"
After=network.target
StartLimitIntervalSec=0

[Service]
MemoryHigh=7400M
MemoryMax=7500M
Restart=always
RestartSec=10
User=polkadot
Group=polkadot

ExecStart=/usr/bin/sudo /usr/bin/polkadot \
  --name anya-derek-bootnode-primary \
  --base-path /mnt/disks/data/chains/polkadot/db \
  --node-key-file /mnt/disks/data/chains/polkadot/node.key \
  --chain polkadot \
  --listen-addr=/ip4/0.0.0.0/tcp/30334 \
  --public-addr=/ip4/{{ ansible_host }}/tcp/30334 \
  --in-peers 50 \
  --out-peers 50 \
  --prometheus-external \
  --prometheus-port 9615 \
  --ws-port 8844 \
  --rpc-port 8833 \
  -- \
  --chain kusama \
  --base-path /mnt/disks/data/chains/kusama/db \
  --listen-addr=/ip4/0.0.0.0/tcp/30333 \
  --public-addr=/ip4/{{ ansible_host }}/tcp/30333 \
  --in-peers 50 \
  --out-peers 50 \
  --pruning=1000 \
  --unsafe-pruning \
  --prometheus-external \
  --prometheus-port 9625 \
  --ws-port 9944 \
  --rpc-port 9933 \

[Install]
WantedBy=multi-user.target
